:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2b2a2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent {
  padding: 30px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width:300px;
  background-color: #222;
  margin: 20px;
  border-radius: 30px;
  padding: 14px;
}

.card .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top img {
  height: 40px;
  width:40px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px Solid #dadada;
  padding:2px;
}

.top button {
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 11px;
  border-radius: 5px;
  gap:3px;
  background-color: transparent;
  color: #b1b1b1;
}

h3 {
font-size: 17px;
font-weight: 500;
}
h3 span { 
font-size: 9px;
font-weight: 400;
color: #8b8b8b; 
}
.center h2 {
font-size: 20px;
}

.center .tag {
  display:flex;
  gap:5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 14px;
  background-color: black;
  color: white;
  padding: 3px 6px;
  font-weight:500 ;
}
.bottom {
display: flex;
align-items: center;
justify-content: space-between;
border-top: 1px solid #b1b1b1;
padding: 15px;
}

.bottom button {
  background-color: #2b2a2a;
 color: #b1b1b1;
 border:none;

}